:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 1rem;
}

@media screen  and (max-width: 600px) {
    :host {
        flex-direction: column;
    }
}